.content {
    text-align: center;
    color: white;
    position: relative;
}

.content h1 a{
    font-size: 18px;
    color: lightblue;
}
.content .columns {
    display: flex;
}

#experience {
    padding-bottom: 15px;
}
#dropdown {
    text-align: left;
    padding-top: 35px;
}

.languages h2{
    padding-bottom: 255px;
    padding-top: 0px;
}
#proj1, #proj2, #proj3, #proj4 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
