{% extends 'base.html'%}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <h1>Welcome To My Portfolio</h1>
    <div class='welcometext'>
        Welcome to my online Portafolio. 
        On my website you will get the chance to look over at my resume, 
        which includes previous and current work.
        A way to get in contact with me.
    </div>
    <div class='aboutme'>
        <h1>About me</h1>
        My name is Yoan Palacios Guzman.
        In my spare time I learned new hobbies such as working on my car.
        I modify my car to be a better daily.
        Also, I have build a computer with no prior knowledge, it was interesting expierence.
        I spend most of my time either learning something new such as in programing or doing school work.
        Enough about me go check out my work!
    </div>

    <h1> Enter a STICK DRAWING HERE</h1>
{% endblock%}