{% extends 'base.html'%}

{% block head %}
    <title>Resume</title>
{% endblock %}

{% block body %}
    <h2>Yoan Palacios Guzman</h2>
    <div class='Skills'>
        <h2>Skills:</h2>
        <table >
            <tr>
                <th>Languages: </th>
                <td>Python, C++, Power BI (DAX, M), Excel(VBA and Macros), Spanish (Native)</td>
            </tr>
            <tr>
                <th>Interest: </th>
                <td>Machine Learning/AI, Data Analytics, Software Development</td>
            </tr>
            <tr>
                <th>Strengths: </th>
                <td>Logical Thinker, Quick Learner, Problem-Solving, Dependedable</td>
            </tr>
          </table>
    </div>


    <div class='Education:'>
        <h2>Education:</h2>
        <table >
            <tr>
                <th>UC Merced</th>
                <td> - B.S Computer Science & Engineering</td>
                <td> Expected Graduation: Fall 2021</td>
            </tr>
            <tr>
                <th>Revelant Courses: </th>
                <td>Object Oriented Programing, Algorithm Design/Analysis, Data Structure, Discrete Math, Linear Algebra & Differential Equations, Vector Calculus</td>
            </tr>
          </table>
    </div>

    <div class='Experience:'>
        <h2>Experience:</h2>
        <table >
            <tr>
                <th>NSG at Intel</th>
                <td> - Folsom, CA</td>
                <td> Jan 2020 - July 2020</td>
            </tr>
            <tr>
                <th>AI Project:</th>
                <td>The objective of this project was too implement a way to determine the importance of an error from error logs</td>
            </tr>
          </table>
    </div>
    <ul>
        <li>Research different natural language processing(NLP) algorithms to meet the objective of the project.</li>
        <li>Tea</li>
        <li>Milk</li>
    </ul>
{% endblock%}